<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880765093476-46edt9jipjpimm38gijedikea4t5ttmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880765093476-46edt9jipjpimm38gijedikea4t5ttmb</string>
	<key>API_KEY</key>
	<string>AIzaSyDzkAvwe_ygmAEaLyo-JWNehY8XO4m1tlE</string>
	<key>GCM_SENDER_ID</key>
	<string>880765093476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.njligames.RentRedi</string>
	<key>PROJECT_ID</key>
	<string>rentredi-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>rentredi-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880765093476:ios:4df7d8af82c42f37238171</string>
</dict>
</plist>